<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTP de Aserrí | Celebrando el 15 de Setiembre</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../../Navbar/navbar.css">
    <link rel="stylesheet" href="../../../main.css">
    <link rel="shortcut icon" href="../../../img/Costa-rica-Flag-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../Footer/styles.css">
</head>
<body>
  <header>
    <div id="header-left">
        <div id="logo">
            <a href="">
                <img src="/components/Navbar/logo.png" alt="logo">
            </a>
        </div>
        <div id="title"><a href="">CTP Aserrí</a></div>
    </div>
    <div id="header-center">
        <nav id="nav-links">
        </nav>
    </div>
    <div id="header-right">
        <div>
            <button id="menu-button"></button>
        </div>
    </div>
</header>
<template id="template-links">
    <a href="../../../index.html">Inicio</a>
    <a href="../../../index.html">¿Quiénes somos?</a>
    <a href="../../../index.html">Área administrativa</a>
    <a href="../../../index.html">Área académica</a>
    <a href="../../../index.html">Admisión 2025</a>
</template>
<template id="collapse-menu">
    <div id="menu">
        <!-- aquí va el contenido del menú -->
        <a href="/components/pag1/html/pag1.html">Comidas típicas</a>
        <a href="/components/pag1/html/pag1.html">Bailes típicos</a>
        <a href="/components/pag1/html/pag1.html">Símbolos nacionales</a>
        <a href="/components/pag1/html/pag1.html">Historia</a>
        <a href="/components/pag2/html/pag2.html">Actividades Festivas</a>
        <a href="/components/pag2/html/pag2.html">Valores</a>
        <a href="/components/pag2/html/pag2.html">Lugares y ciudades representativas</a>
        <a href="/components/pag2/html/pag2.html">Independencia, democracia e identidad</a>
        <!-- ... -->
    </div>
</template>
  <div class="cartas">
    <div class="card" style="width: 18rem;">
        <img src="../img/faroles.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Desfile De Faroles <br>Cada 14 de septiembre, en la víspera de la celebración del Día de la Independencia, se festeja en la mayoría de los pueblos y ciudades de Costa Rica el tradicional desfile de faroles; una actividad impulsada por los centros educativos que promueve el fervor patrio en las comunidades, y llena de ilusión y felicidad</p>
        </div>
      </div>

      <div class="card2" style="width: 18rem;">
        <img src="../img/valores.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Sostenibilidad Costa Rica constituye el 6.5% de la biodiversidad mundial, por lo que ser ecológicos está en nuestro ADN <br> Progreso Social Los colaboradores que trabajan en una empresa que utiliza el sello de la Marca País aseguran su crecimiento personal y profesional,<br>Vinculación Costarricense Estamos orgullosos de lo que hacemos. Nuestros productos y servicios están desarrollados, patentados y mejorados en el país.</p>
        </div>
      </div>
      <div class="card3" style="width: 18rem;">
        <img src="../img/san jose.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Lugares rurales y  ciudades representativas de Costa Rica <br>Ciudades Representativas:<br> San José:La capital y ciudad más grande del país, San José es el centro político, económico y cultural de Costa Rica. <br> Cartago: La ciudad histórica de Cartago fue la primera capital de Costa Rica y aún conserva importantes monumentos, como la Basílica de Nuestra Señora de los Ángeles. <br>Lugares rurales: <br> Cartago: La ciudad histórica de Cartago fue la primera capital de Costa Rica y aún conserva importantes monumentos.
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../img/juanito.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Independencia, Democracia e Identidad en Costa Rica: <br> El 15 de septiembre de 1821, Costa Rica logró su independencia de España, marcando el inicio de una identidad nacional propia. A lo largo de los años, el país ha consolidado una democracia sólida y participativa, destacando por su compromiso con la paz al abolir el ejército en 1948. La identidad costarricense, rica en diversidad cultural y natural, refleja los valores de libertad y justicia que definen a la nación.</p>
        </div>
      </div>

    </div>
    <script src="../../Navbar/navbar.js"></script>
    <footer>
      <div class="ftdiv">
          <div class="ftmargin">
              <div class="ftubicacion">
                  <p class="ftcontti">CTP de Aserrí</p>
                  <p>Salitrillos Palo Blanco</p>
                  <p>Salitrillos Aserrí, 10607 Costa Rica</p>
              </div>
              <div></div><div></div><div></div><div></div><div></div>
              <div class="ftcontacto">
                  <p class="contti">Contacto</p>
                  <p>ctp.deaserri@mep.go.cr</p>
                  <p>+506 2230 3337</p>
                  <p>+506 2230 0757</p>
                  <p>+506 7248 6424</p>
              </div>
              <div class="ftubicacion">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1652.7870584177529!2d-84.09210830771633!3d9.849336776146515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa11d57ef0dffdb%3A0x8ead9b112212b866!2sColegio%20T%C3%A9cnico%20Profesional%20de%20Aserr%C3%AD!5e0!3m2!1ses-419!2scr!4v1724957666180!5m2!1ses-419!2scr" width="125" height="125" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
        </div>
    </footer>
</body>
</html>