:root {
    --menu-height-1: 400px;
    --menu-height-2: 500px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #0c2461;
    padding: 0 20px;
    color: #fff;
    white-space: nowrap;
}

#menu a,
header a {
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s;
}

#menu a:hover,
header a:hover {
    text-decoration: underline;
}

#header-left {
    display: flex;
    gap: 10px;
    height: 80%;
    align-items: center;
}

#logo img {
    max-width: 60px;
}

#title {
    font-size: x-large;
}

#header-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}



#menu-button {
    height: 30px;
    width: 30px;
    border: none;
    background-color: #00000000;
    background-image: url(bars-s-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#menu-button:hover {
    filter: brightness(0.8);
}

#menu {
    position: absolute;
    height: var(--menu-height);
    width: 200px;
    background-color: #181c4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    gap: 10px;
    text-align: center;
    z-index: 1000;
}

.expanded {
    animation: expanded 0.1s linear;
    overflow: hidden;
}

.collapsed {
    animation: collapsed 0.1s linear;
    overflow: hidden;
}

@keyframes expanded {
    0% {
        height: 0px;
    }

    100% {
        height: var(--menu-height-1);
    }
}

@keyframes collapsed {
    0% {
        height: var(--menu-height-1);
    }

    100% {
        height: 0px;
    }
}

@media (max-width:1200px) {
    #header-center {
        position: static;
        left: auto;
        transform: none;
    }
}

@media (max-width:1000px) {
    #header-center {
        display: none;
    }

    #menu {
        height: var(--menu-height-2);
    }
}