
.cartas {
    display: flex;
    justify-content: center;
}



.card, .card2, .card3 {
    /* Tamaño y espaciado */
    width: 18rem;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos para la imagen de la carta */
  .card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  /* Estilos para el cuerpo de la carta */
  .card-body {
    padding: 20px;
  }
  
  /* Estilos para el texto de la carta */
  .card-text {
    font-size: 16px;
    color: #333;
  }
  
  /* Estilos para los títulos de las cartas */
  .card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  .card {
     background-color: #f7f7f7;
  }

  .card2 {
    background-color: #f7f7f7;
  }

  .card3{
    background-color: #f7f7f7;
  }

  
  /* Estilos para la imagen de la carta 3 */
  .card3 .card-img-top {
    height: 200px;
  }
  
  /* Estilos para el texto de la carta 3 */
  .card3 .card-text {
    font-size: 18px;
  }
  
  /* Estilos para los medios de comunicación */
  @media (max-width: 768px) {
    .card, .card2, .card3 {
      width: 100%;
    }
  }