<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EfeméridesCTPAserrí</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    
    <footer>
        <div class="ftdiv">
            <div class="ftmargin">
                <div class="ftubicacion">
                    <p class="ftcontti">CTP de Aserrí</p>
                    <p>Salitrillos Palo Blanco</p>
                    <p>Salitrillos Aserrí, 10607 Costa Rica</p>
                </div>
                <div></div><div></div><div></div><div></div><div></div>
                <div class="ftcontacto">
                    <p class="contti">Contacto</p>
                    <p>ctp.deaserri@mep.go.cr</p>
                    <p>+506 2230 3337</p>
                    <p>+506 2230 0757</p>
                    <p>+506 7248 6424</p>
                </div>
                <div class="ftubicacion">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1652.7870584177529!2d-84.09210830771633!3d9.849336776146515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa11d57ef0dffdb%3A0x8ead9b112212b866!2sColegio%20T%C3%A9cnico%20Profesional%20de%20Aserr%C3%AD!5e0!3m2!1ses-419!2scr!4v1724957666180!5m2!1ses-419!2scr" width="125" height="125" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/script.js"></script>
</body>
</html>