<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTP de Aserrí | Celebrando el 15 de Setiembre</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../../Navbar/navbar.css">
    <link rel="shortcut icon" href="../../../img/Costa-rica-Flag-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../main.css">
    <link rel="stylesheet" href="../../Footer/styles.css">
</head>
<body>
  <header>
    <div id="header-left">
        <div id="logo">
            <a href="">
                <img src="/components/Navbar/logo.png" alt="logo">
            </a>
        </div>
        <div id="title"><a href="">CTP Aserrí</a></div>
    </div>
    <div id="header-center">
        <nav id="nav-links">
        </nav>
    </div>
    <div id="header-right">
        <div>
            <button id="menu-button"></button>
        </div>
    </div>
</header>
<template id="template-links">
    <a href="../../../index.html">Inicio</a>
    <a href="">¿Quiénes somos?</a>
    <a href="">Área administrativa</a>
    <a href="">Área académica</a>
    <a href="">Admisión 2025</a>
</template>
<template id="collapse-menu">
    <div id="menu">
        <!-- aquí va el contenido del menú -->
        <a href="/components/pag1/html/pag1.html">Comidas típicas</a>
        <a href="/components/pag1/html/pag1.html">Bailes típicos</a>
        <a href="/components/pag1/html/pag1.html">Símbolos nacionales</a>
        <a href="/components/pag1/html/pag1.html">Historia</a>
        <a href="/components/pag2/html/pag2.html">Actividades Festivas</a>
        <a href="/components/pag2/html/pag2.html">Valores</a>
        <a href="/components/pag2/html/pag2.html">Lugares y ciudades representativas</a>
        <a href="/components/pag2/html/pag2.html">Independencia, democracia e identidad</a>
        <!-- ... -->
    </div>
</template>
  <div class="cartas">
    <div class="card" style="width: 18rem;">
        <img src="../img/comida.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Comida Tipica de Costa Rica <br>En Costa Rica hay diferentes tipos de comidas típicas y ricas como el gallopinto, rice and beans, Tamales, Gallitos, Chorreadas.</p>
        </div>
      </div>

      <div class="card2" style="width: 18rem;">
        <img src="../img/bailes.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Bailes Típicos de Costa Rica<br> Progreso Social Los colaboradores que trabajan en una empresa que utiliza el sello de la Marca País aseguran su crecimiento personal y profesional,<br>Los bales típios de Costa Rica son: Punto guanacasteco Baile de cimarronas
            Swing criollo, Chachachá, Salsa.</p>
        </div>
      </div>
      <div class="card3" style="width: 18rem;">
        <img src="../img/simbolos.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Simbolos Nacionales de Costa Rica <br>Estas representaciones visuales o verbales pretenden crear un sentimiento de identidad nacional a partir de la vivencia de valores, tradiciones, creencias y costumbres más significativas de un país,su función es proveer la identidad para diferenciarnos de otros países.<br>Simolos nacionales: Café de Costa Rica: El Teatro Nacional, Las Esferas Indígenas Precolombinas, El Manatí, Los Crestones del Parque Nacional Chirripó, La Antorcha, La Marimba, El Venado Cola Blanca</br>
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../img/historia.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">La historia de Costa Rica <br> La historia de Costa Rica abarca el estudio, descripción y análisis de los principales procesos y eventos históricos de este país centroamericano, desde la ocupación de su actual territorio por cazadores y recolectores hace unos 12.000 años, el surgimiento de las primeras sociedades cacicales prehispánicas, pasando por la llegada, conquista y colonización por parte de los españoles; el proceso de configuración como una nación independiente.</p>
        </div>
      </div>
    </div>
    <footer>
      <div class="ftdiv">
          <div class="ftmargin">
              <div class="ftubicacion">
                  <p class="ftcontti">CTP de Aserrí</p>
                  <p>Salitrillos Palo Blanco</p>
                  <p>Salitrillos Aserrí, 10607 Costa Rica</p>
              </div>
              <div></div><div></div><div></div><div></div><div></div>
              <div class="ftcontacto">
                  <p class="contti">Contacto</p>
                  <p>ctp.deaserri@mep.go.cr</p>
                  <p>+506 2230 3337</p>
                  <p>+506 2230 0757</p>
                  <p>+506 7248 6424</p>
              </div>
              <div class="ftubicacion">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1652.7870584177529!2d-84.09210830771633!3d9.849336776146515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa11d57ef0dffdb%3A0x8ead9b112212b866!2sColegio%20T%C3%A9cnico%20Profesional%20de%20Aserr%C3%AD!5e0!3m2!1ses-419!2scr!4v1724957666180!5m2!1ses-419!2scr" width="125" height="125" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
          </div>
      </div>
    </footer>
    <script src="../../Navbar/navbar.js"></script>
</body>
</html>